<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        ul li{
            list-style:none;
            float: left;
            margin: 15px 20px;
            width: 230px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <ul>
            <li>
                <div id="part1">
                    <p>欢迎登录</p>
                    请输入手机号：<input type="text" id="phone"><br>
                    请输入登录密码：<input type="password" id="passwd">
                    <button id="b_account">确定</button>
                </div>
            </li>
            <li>
                <div id="part2">
                    <p>登录成功</p>
                    <p>请选择卡号</p>
                    <form action="/jump.do" method="post">
                        <select name="cardId"></select>
                        <button type="submit">跳转</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <script src="../../js/jquery.min.js"></script>
    <script>
        $(function(){
            $('#part2').hide();
            $('#forget').hide();

            $('#b_account').on('click', function(){
                if(!/^\d{11}$/.test($('#phone').val())){
                    alert("帐号格式不正确");
                    return;
                }

                $.ajax({
                    url: "/login.do",
                    type: "POST",

                    contentType : "application/json;charset=UTF-8",
                    data: JSON.stringify({"phone":$('#phone').val().trim(), "passwd":$('#passwd').val().trim()}),

                    success: function(data) {
                        if(data==='1'){
                            alert('该账户不存在');
                        }else if(data==='2'){
                            alert('密码错误');
                        }else if(data==='3') {
                            alert('密码错误连续超过3次，该账户已被锁定');
                        } else{
                            $('#part1').fadeOut(2000);
                            $('#part2').fadeIn(2000);

                            var array =  JSON.parse(data);
                            var len = array.length;

                            for(var i=0; i<len; i++){
                                $("select").append("<option value='" + array[i].toString() + "'>" +array[i].toString()+"</option>");
                            }

                        }
                    }
                })
            })
        })
    </script>
</body>
</html>